<div class="container mt-4">
    <div class="row">
      <!-- Card Empresas -->
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Empresas</h5>
            <p class="card-text">Informações sobre empresas parceiras.</p>
            <a [routerLink]="['/enterprise']" class="btn btn-primary">Ir para Empresas</a>
          </div>
        </div>
      </div>

      <!-- Card Fornecedores -->
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Fornecedores</h5>
            <p class="card-text">Informações sobre nossos fornecedores.</p>
            <a [routerLink]="['/provider']" class="btn btn-primary">Ir para Fornecedores</a>
          </div>
        </div>
      </div>
    </div>
  </div>